body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    color: #333;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 50%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0;
}

.table-container {
    overflow-x: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #003366;
    color: white;
    position: sticky;
    top: 0;
}

th,
td {
    padding: 8px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

td {
    height: 100px;
    overflow: auto;
    /* display: block; */
}

th {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

thead>tr:hover {
    background-color: #072f57;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


#detectionTableHead>tr>th {
    font-size: 14px;
    min-width: 120px;
    max-width: 300px;
}

#detectionTableHead>tr>th>select {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 5px;
}

#detectionTableHead>tr>th>span {
    display: block;
    min-width: 100px;
}

#detectionTableBody>td {
    max-width: 300px;
    /* display: flex; */
    overflow: hidden;

    /* flex-direction: column; */
}

.multiValues {
    display: flex;
    flex-direction: column;
    max-height: 180px;
}